<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/images/IMG_1964_cmp.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my website. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SOFTWARE</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">JAVA</h3>

                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">Node</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid photoBack">
        <div class="w-100">
            <div class="container photoDiv extraSpace">
                <h2 class="subTitle padX0 padtop0 cenX">PHOTOGRAPHY</h2>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
